[submodule "assignments/hw01"]
	path = assignments/hw01
	url = https://github.com/BEE4850/hw01.git
[submodule "exercises/ex01"]
	path = exercises/ex01
	url = https://github.com/BEE4850/ex-week01
[submodule "exercises/ex03"]
	path = exercises/ex03
	url = https://github.com/BEE4850/ex-week03.git
[submodule "assignments/hw02"]
	path = assignments/hw02
	url = https://github.com/BEE4850/hw02.git
[submodule "exercises/ex04"]
	path = exercises/ex04
	url = https://github.com/BEE4850/ex-week04.git
[submodule "exercises/ex05"]
	path = exercises/ex05
	url = https://github.com/BEE4850/ex-week05
[submodule "assignments/hw03"]
	path = assignments/hw03
	url = https://github.com/BEE4850/hw03.git
[submodule "exercises/ex07"]
	path = exercises/ex07
	url = https://github.com/BEE4850/ex-week07.git
